In [29]:
import pandas as pd

from functions import *

In [30]:
#from platform import python_version

In [31]:
#print(python_version())

In [32]:
#pip install python-dotenv

In [33]:
df_air_quality = pd.read_csv('amsterdam-air-quality.csv')
df_air_quality.head()

        date  pm25  pm10   o3  no2  so2  co
0   2023/1/2    31    18   14   22        2
1   2023/1/3    44
2  2022/10/1    30    19   24   13        2
3  2022/10/2    33    22   19   26        4
4  2022/10/3    46    22   20   20        3

In [34]:
df_air_quality.count()

date     3079
 pm25    3079
 pm10    3079
 o3      3079
 no2     3079
 so2     3079
 co      3079
dtype: int64

In [35]:
df_air_quality.date = df_air_quality.date.apply(timestamp_2_time)
df_air_quality.sort_values(by = ['date'],inplace = True,ignore_index = True)

df_air_quality.head()

            date  pm25  pm10  o3  no2  so2  co
0  1388444400000                   30
1  1388530800000          42       32
2  1388617200000          14       28
3  1388703600000          17       26
4  1388790000000          19       28

In [36]:
df_air_quality.rename(columns={" pm25": "pm25", " pm10": "pm10", " o3": "o3", " no2": "no2", " so2": "so2", " co": "co"}, inplace = True)

In [37]:
df_air_quality.count()

date    3079
pm25    3079
pm10    3079
o3      3079
no2     3079
so2     3079
co      3079
dtype: int64

In [38]:
#add AQI column
aqi=[]
for i in range(0,len(df_air_quality)):
    row=df_air_quality.iloc[i,1:]
    aqi.append(max(row))
df_air_quality['aqi']=aqi

In [39]:
for col in df_air_quality:
    vals=[]
    for i in df_air_quality[col]:
        try:
            vals.append(int(i))
        except:
            vals.append(0)
    df_air_quality[col]=vals

In [40]:
df_air_quality['o3'] = df_air_quality['o3'].astype(float)
df_air_quality['no2'] = df_air_quality['no2'].astype(float)
df_air_quality['so2'] = df_air_quality['so2'].astype(float)
df_air_quality['co'] = df_air_quality['co'].astype(float)

In [41]:
df_air_quality.dtypes

date      int64
pm25      int64
pm10      int64
o3      float64
no2     float64
so2     float64
co      float64
aqi       int64
dtype: object

In [42]:
df_air_quality.head()

            date  pm25  pm10   o3   no2  so2   co  aqi
0  1388444400000     0     0  0.0  30.0  0.0  0.0   30
1  1388530800000     0    42  0.0  32.0  0.0  0.0   42
2  1388617200000     0    14  0.0  28.0  0.0  0.0   28
3  1388703600000     0    17  0.0  26.0  0.0  0.0   26
4  1388790000000     0    19  0.0  28.0  0.0  0.0   28

In [44]:
df_weather = pd.read_csv('amsterdam_weather.csv')

df_weather.head(3)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,amsterdam,2014-01-01,9.0,4.4,6.8,4.7,0.5,2.6,4.9,88.0,...,1.7,1,NaN,2014-01-01T08:50:28,2014-01-01T16:37:33,0.00,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06348099999,06249099999,0624009999..."
1,amsterdam,2014-01-02,10.0,6.4,8.6,7.1,3.1,5.3,6.8,88.0,...,1.8,1,NaN,2014-01-02T08:50:19,2014-01-02T16:38:39,0.01,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06348099999,06249099999,0624009999..."
2,amsterdam,2014-01-03,11.0,6.2,8.5,11.0,2.0,5.4,6.2,85.4,...,2.2,2,NaN,2014-01-03T08:50:07,2014-01-03T16:39:48,0.03,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06348099999,06249099999,0624009999..."

In [45]:
df_weather.datetime = df_weather.datetime.apply(timestamp_2_time_weather)
df_weather.sort_values(by=['datetime'],inplace=True, ignore_index=True)

df_weather.head(3)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,amsterdam,1388530800000,9.0,4.4,6.8,4.7,0.5,2.6,4.9,88.0,...,1.7,1,NaN,2014-01-01T08:50:28,2014-01-01T16:37:33,0.00,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06348099999,06249099999,0624009999..."
1,amsterdam,1388617200000,10.0,6.4,8.6,7.1,3.1,5.3,6.8,88.0,...,1.8,1,NaN,2014-01-02T08:50:19,2014-01-02T16:38:39,0.01,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06348099999,06249099999,0624009999..."
2,amsterdam,1388703600000,11.0,6.2,8.5,11.0,2.0,5.4,6.2,85.4,...,2.2,2,NaN,2014-01-03T08:50:07,2014-01-03T16:39:48,0.03,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06348099999,06249099999,0624009999..."

In [46]:


df_weather.drop(['snow', 'snowdepth','preciptype','severerisk','sunrise','sunset','moonphase','description','icon','stations','name'], axis=1,inplace=True)
df_weather.rename(columns={"datetime": "date"}, inplace = True)

df_weather['uvindex'] = df_weather['uvindex'].astype(float)

In [47]:

df_weather.count()

date                3290
tempmax             3290
tempmin             3290
temp                3290
feelslikemax        3290
feelslikemin        3290
feelslike           3290
dew                 3290
humidity            3290
precip              3290
precipprob          3290
precipcover         3290
windgust            3288
windspeed           3290
winddir             3290
sealevelpressure    3289
cloudcover          3290
visibility          3290
solarradiation      3290
solarenergy         3290
uvindex             3290
conditions          3290
dtype: int64

In [48]:
df_weather.dtypes

date                  int64
tempmax             float64
tempmin             float64
temp                float64
feelslikemax        float64
feelslikemin        float64
feelslike           float64
dew                 float64
humidity            float64
precip              float64
precipprob          float64
precipcover         float64
windgust            float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex             float64
conditions           object
dtype: object

In [49]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/5419
Connected. Call `.close()` to terminate connection gracefully.

In [50]:
air_quality_fg = fs.get_or_create_feature_group(
        name = 'air_quality_fg',
        description = 'Air Quality characteristics of each day',
        version = 1,
        primary_key = ['date'],
        online_enabled = True,
        event_time = 'date'
    )    

air_quality_fg.insert(df_air_quality)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/5419/fs/5326/fg/13765

Uploading Dataframe: 0.00% |          | Rows 0/3079 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/5419/jobs/named/air_quality_fg_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7fc0879ccdc0>, None)

In [51]:
weather_fg = fs.get_or_create_feature_group(
        name = 'weather_fg',
        description = 'Weather characteristics of each day',
        version = 1,
        primary_key = ['date'],
        online_enabled = True,
        event_time = 'date'
    )    

weather_fg.insert(df_weather)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/5419/fs/5326/fg/13766

Uploading Dataframe: 0.00% |          | Rows 0/3290 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/5419/jobs/named/weather_fg_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7fc087362ca0>, None)

In [27]:
#weather_fg.delete()

In [28]:
#air_quality_fg.delete()